<p id="notice"><%= notice %></p>

<h1>Stock Options</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_options.each do |stock_option| %>
      <tr>
        <td><%= link_to 'Show', stock_option %></td>
        <td><%= link_to 'Edit', edit_stock_option_path(stock_option) %></td>
        <td><%= link_to 'Destroy', stock_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Option', new_stock_option_path %>
